@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis($line: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}