/* 改变主题色变量 */
$--color-primary: #f9320c;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-dialog,
.el-message-box {
    background-color: var(--color-background-light);
}

@media only screen and (max-width: 430px) {
    .el-message-box {
        width: 300px;
    }
}
