@import '../css/reset.css';
@import '../css/Hover.css';
@import '../css/iconfont.css';


:root {
    --color-primary: #f9320c;
    // -ms-overflow-style: none;
    // overflow: -moz-scrollbars-none;
    // &::-webkit-scrollbar {
    //     width: 0 !important ;
    // }
}

html,
body {
    height: 100%;
}

::selection {
    background-color: #f9330cb7;
    color: white;
}
