@import '../css/reset.css';
@import '../css/Hover.css';
@import '../css/iconfont.css';

:root {
    --color-primary: #f9320c;
    // -ms-overflow-style: none;
    // overflow: -moz-scrollbars-none;
    // &::-webkit-scrollbar {
    //     width: 0 !important ;
    // }
}

html,
body {
    height: 100%;
    background-color: white;
}

::selection {
    background-color: var(--color-primary);
    color: white;
}

@media only screen and (max-width: 411px) {
    :root {
        user-select: none;
    }
}
